/* #My Presets
================================================== */
*,
*:before,
*:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; outline: 0 !important; }
input { border: 0; outline: 0; border-radius: 3px; font-family: "Source Sans Pro"; font-weight: 300; }
html { position: relative !important; }
html,
body { height: 100%; }
body { position: relative; margin: 0; padding: 0; border: 0; min-height: 100%; line-height: 1; font-family: "Lato", "Source Sans Pro", Helvetica; font-size: 25px; background-color: #f5f5f5; font-size: 20px; }
ul { list-style: none; margin: 0; }
input { display: block; margin: 0 auto; }
h1,
h2,
h3,
h4,
h5,
h6 { margin: 0 !important; padding: 5px 0; }
fieldset { border: 0 !important; }

/* Components Elements
==================================================*/
.button { border: 0; outline: 0; color: white; background-color: #39cb58; font-size: 20px; margin: 5px 0; padding: 5px 15px; border-radius: 5px; border-bottom: 1px solid rgba(255, 255, 255, 0.1); -webkit-box-shadow: 0 3px #15bb90; box-shadow: 0 3px #15bb90; }
.button:hover { background-color: #39da58; }
.sm { width: 100px; }
.md { width: 150px; }
.lg { width: 200px; }
.full { width: 100%; }
.input { padding: 3px 5px; -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.1); box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.1); }
::-moz-selection { color: white; background: lightgreen; }
::selection { color: white; background: lightgreen; }

/* #Common Elements
================================================== */

/* #Logo and Motto */
.heading { position: relative; top: 0; left: 0; right: 0; display: inline-block; }
.heading p { margin: 10px 0; font-size: 17.5px; }
div.logo { margin: 0 auto; text-align: center; font-family: "Source Sans Pro"; font-size: 35px; font-weight: 300; color: #39cb58; width: 100%; left: 0; right: 0; z-index: 200; margin-top: 8px; }
span.logo-part { color: #fff; background-color: #39cb58; padding: 2px 5.5px 0px 10px; border-radius: 100%; margin-bottom: 15px; font-family: "Montez"; }
span.sub-head-logo { font-weight: 600; color: #39cb58; }
.main { width: 100%; text-align: center; margin: 0 auto; font-family: "Source Sans Pro"; font-weight: 300 !important; }
.btn { margin-top: 5px; color: #fff; background-color: rgba(57, 203, 88, 0.8); padding: 8px 15px; border-radius: 3px; box-shadow: inset 0 0 0 2px #39cb58, 0 2px 0 0 rgba(57, 203, 88, 0.5); cursor: pointer; transition: 0.5s ease; }
.btn:hover { color: #fff; background-color: rgba(57, 203, 88, 1);  /* background-color: #39cb58; */ }
/*.main p{
  font-family: "Lato";
  margin-top: 10px;
  font-size: 25px;
}*/
.main .sub-head-logo { font-weight: 400 !important; }

/* #Login box*/
div.login { position: relative; width: 500px; padding: 50px 5px; background-color: #fff; border-top: 5px solid #39bc58; top: 50px; margin: 5px auto; border-radius: 0 0 5px 5px; -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1); }
.panel-card { text-align: center; }
div.register { width: 500px; }
.nav li a { font-size: 15px; color: #444; padding-left: 10px; padding-right: 10px; }
.bar { width: 500px; margin: 10px auto 10px auto; display: block; color: #39cb58; border: 1px solid #333; border-radius: 50px; padding: 2px 15px;  /*    -webkit-box-shadow: inset 0 2px 5px #333;*/  /*    box-shadow: inset 0 2px 5px #333;*/ }
.navbar-inverse { z-index: 7500; border-bottom: 1px solid #f1f1f1; background-color: #fff;  }
.navbar-inverse .navbar-toggle .icon-bar { background-color: #bbb; }
/*.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover { background-color: #ddd; }*/
.navbar-nav li { text-align: center; }
.navbar-nav li a { padding-left: 8.5px; padding-right: 8.5px; font-size: 12px; transition: 0.5s ease; }
.navbar-nav li a > span.fa:before { margin-right: 5px;  /* background-color: #ddd; */ }
.navbar-nav li#search form input { font-family: Open Sans; font-size: 20px; color: #333; }
.navbar-nav li#search form { padding: 5px; padding-bottom: 15px; }
.navbar-header { padding: 5px !important; }
.navbar-brand { padding: 5px !important; }
.navbar-toggle { margin: 0 !important; padding: 0 !important; height: 50px; width: 50px; line-height: 50px; text-align: center; border: 0; border-radius: 100%; transition: 0.8s ease; }
.navbar-toggle:focus, .navbar-toggle:hover { background-color: none; /*background-color: #eee !important;*/ }
.navbar-toggle .icon-bar { margin: 0 auto; }
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form { border-color: #ddd; }
/*.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover { color: #333 !important; background-color: #f5f5f5 !important; transition: 0.5s ease; }*/
/*.navbar-inverse .navbar-nav>li>a.dropdown:focus, .navbar-inverse .navbar-nav>li>a.dropdown:hover { color: #333 !important; background-color: #f5f5f5 !important; transition: 0.5s ease; }*/
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover { color: #333; background-color: #f5f5f5 !important; }
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover { color: #333; background-color: #f5f5f5; }
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover { background: none !important; }

.nav-tabs li a { border-radius: 0; }
.modes li.active a { box-shadow: inset 0 -2px 0 rgb(57, 203, 88); border: 0px !important; }

.alert { font-size: 15px; margin-bottom: 2.5px; }

/*Notification Mobile
--------------------------------------*/

/*#notificationMobile{
  display: none;
}*/
#notificationMobile ul li.notification,
#notificationMobile ul p { text-align: center; color: #333 !important; font-family: Lato; font-weight: 300; margin: 0; padding: 0px; }
div#notificationMobile .notification .container-fluid div { font-size: 16px; font-weight: 300; }
.nav-badge { position: absolute; }
/*Forgot Password and SignUp Choice
-------------------------------------*/
span.not-signed-in { display: block; text-align: center; left: 0; right: 0; margin: 15px auto; font-family: Lato; font-weight: 300; font-size: 18px; }
.not-signed-in a { text-decoration: none; }
span.not-signed-in p { display: block; margin: 0; }
span.not-signed-in .choice { color: #39cb58; padding-left: 5px; display: inline; }
span.not-signed-in .forgot-pass { margin-top: 7.5px; }
.not-signed-in > p a { text-align: center; display: inline; color: #39cb58; font-size: 20px; margin-top: 7.5px; border-bottom: 1px solid transparent; }
.not-signed-in > p a:hover { border-bottom: 1px dotted lightgray; }

/*Social Login Buttons
--------------------------------------*/
#customBtn,
#fbBtn,
#linkedinBtn { -webkit-transform: scale(0.8); -ms-transform: scale(0.8); -o-transform: scale(0.8); transform: scale(0.8) !important; }
#fbBtn img { vertical-align: initial; }

/*FOOTER
---------------------------------------*/
html,
body { height: 100%; }
body { height: 100%; }
.footer { position: absolute; left: 0; right: 0; bottom: 0; width: 100%; z-index: 0; background-color: #eee; }
.copyright {  /*    color:white;*/font-size: 14px; font-family: "lato"; font-weight: 300; text-align: center;}
span.company { color: #39cb58; font-weight: bold; }

/*New to Multiplier*/
.navbar .text-center { position: absolute; line-height: 45px; color: #777; font-family: Lato; font-weight: 300; }
.navbar-header .btn { margin-top: 0 !important; margin-left: 5px; -webkit-box-shadow: none !important; box-shadow: none !important; }
.modal { top: 100px; }
.modal .form-group label { font-family: Source Sans Pro; font-weight: 400; font-size: 18px; }
/*
  Footer from Login.css
.footer {
  margin: 0;
  height:100px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  vertical-align: bottom;
  padding-top: 15px;
  color: black;
  
}
.copyright {
      color:white;
  font-size: 18px;
  font-family: "lato";
  font-weight: 300;
  text-align: center;
}
span.company {
  color: #39cb58;
  font-weight: bold;
}
 */
@media only screen and (min-width:768px) {
  .navbar-nav li a { padding: 20px 10px !important; }
  .navbar-nav li#search { margin-top: 15px; }
  #notificationMobile { display: none !important; }
  .navbar-header button.navbar-toggle {
    display: none;
  }
}
@media only screen and (max-width:768px) {
  .pic { display: block !important; margin: 0 auto !important; float: none !important; }
  a.dropdown-toggle p { float: none !important; }
  .navbar-fixed-bottom .navbar-collapse,
  .navbar-fixed-top .navbar-collapse { max-height: 100% !important; }
  .modal { top: 100px !important; z-index: 7500; }
}
@media only screen and (max-width:660px) {
  .logo { font-size: 30px !important; }
}
@media only screen and (min-width:320px) and (max-width:520px) {

  /*Phone*/
  .navbar-nav li#search { padding-bottom: 10px; }
}
@media only screen and (min-width:250px) and (max-width:550px) {
  .panel-card { top: 0px !important; }
}